.searchForm, .userInputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

input, textarea {
    background: inherit;
    border: 2px solid white;
    margin: 10px 0;
    
}

textarea {
    max-width: 100%;

    @include forPhone {
        max-width: 80%;
    }
}

details {
    margin-top: 30px;

    summary {
        font-weight: bold;
        margin: 0 20px;
    }

    li {
        text-align: left;
        margin: 0 150px;

        @include forTablet {
            margin: 0 5%;
        }
    }
}

// .App {
//     background: #a3b7be;
// }

@keyframes bounce {
  0% { transform: translateY(0); }
  40% { transform: translateY(-30px); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@keyframes lift {
  0% { transform: translateY(0) rotate(0); }
  20% { transform: translateY(-10px) rotate(10deg); }
  40% { transform: translateY(-10px) rotate(0); }
  40% { transform: translateY(-14px) rotate(-10deg); }
  80% { transform: translateY(-4px); }
  100% { transform: translateY(0); }
}

svg {
    max-width: 50%;
    height:100%;
    justify-content: center;
    align-items: center;
    align-content: center;

    @include forTablet {
        max-width: 70%;
    }
}

.shelf {
    &:hover {
        cursor: pointer;
        animation: bounce 0.4s ease;
        animation-delay: 0.04s;
        animation-iteration-count: 1;

        &~.bookOne {
            animation: bounce 0.2s ease;
            animation-delay: 0.04s;
        }
        
        &~.bookTwo {
            animation: bounce 0.6s ease;
            animation-delay: 0.04s;
        }

        &~.bookThree {
            animation: bounce 0.1s ease;
            animation-delay: 0.04s;
        }

        &~.bookFour {
            animation: bounce 0.4s ease;
            animation-delay: 0.04s;
        }
        

        &~.bookshelf {
    animation: lift 1s ease-in-out;
    // animation-iteration-count: 1;
    transform-origin: 30% 30%;
  }
    }

    
}


button {
    font-family: 'Boogaloo', cursive;
    text-transform: uppercase;
    border: 1px solid white;

    &:hover{
        background: white;
        border: 1px solid lightblue;
    }
}