.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

p {
    margin: 0;
}

.imageSection {
    overflow: scroll;
    width: 90%;
    height: 500px;  
    margin: 0 auto; 

    .imageContainer {
        width: 7000px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .miniContainers {
            margin: 0 20px;

            img {
                max-height:450px;
            }
        }
    }
}
img {
        max-width: 100%;
        display: block;
}

textarea {
    width: 50%;
    height: 100px;
}

.storytime {
    display: flex;

    .imageStored {
        width: 50%;
        
    }

    .userText {
        width: 50%;

        p {
            margin: 0;
            padding: 0;
        }   
    }
}

.splitSection {
    display: flex;

    .imageSplit {
        width: 50%;

        img{
            margin: 20px 0;
            max-height: 400px;
        }
    }

    .storedImageSection{
        display: flex;
        justify-content: center;
        height: 400px;

    }

    .textSplit {
        width: 50%;
        
        .storyContainer{
            height: 400px;
        }
    }
}

button {
    border: none;
    background: inherit;
}