.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.imageSection {
    
    overflow: scroll;
    width: 90%;
    height: 500px;  
    margin: 0 auto; 

    .imageContainer {
        width: 7000px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .miniContainers {
            margin: 0 20px;
        }
        
    
    }
}
img {
        max-width: 100%;
        display: block;
}

textarea {
    width: 50%;
    height: 100px;
}

.storytime {
    display: flex;

    .imageStored {
        width: 50%;
        
    }

    .userText {
        width: 50%;

        p {
            margin: 0;
            padding: 0;
        }   
    }
}

.splitSection {
    display: flex;

    .imageSplit {
        width: 50%;
        .imageContainer{
            height: 400px;
        }
    }

    .textSplit {
        width: 50%;
        .storyContainer{
            height: 400px;
        }
    }
}

